/*#!css*/
/** {
	 outline: 1px dotted red;
	 margin: 0px;
	}*/
#container {
	width: auto;
	height: auto;
	background-color: #235076;
}

/*TOP*/
#header {
	min-height: 150px;
	vertical-align: top;

}
#logo{
	width: auto;
	height: auto;
	padding: 30px;
    display: inline-block;
}
#searchbox{
	width: 250px;
	height: 30px;
	vertical-align: top;
	border-radius: 25px;
	background-color: #3C3C3C;
	color:grey;
	box-shadow: 3px 3px #1F3343;
	display: inline-block;
	margin: 10px 3px 0px 150px;
	padding: 20px;
  	text-align: right;
}
#searchbox_entry{
	width: 150px;
	height:30px;
	background-color: white;
	text-align: center;
	display: inline-block;

}
#hit_me{
	background-color: #235076;
	color: white;
	display: inline-block;
	width: 75px;
	height: 30px;
	border-radius: 25px;
}
#navbar{
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	border-radius: 25px;
	text-align: center;
	height: 50px;
	background-color: #477FAD;
	color: white;
	box-shadow: 3px 3px #1F3343;

}
/*MAIN*/
#main{
	width: 100%;
	height: auto;
	text-align: center;
	vertical-align: top;

}
#left_box{
	padding:3%;
	width :300px;
	height: auto;
	color: white;
	text-decoration: underline;
	font-size: 25px;
	display: inline-block;
}
#right_box{
	padding:5%;
	width :600px;
	height: auto;
	color: white;
	display: inline-block;
}
#right_box h4 {
	color: #BFB04A;
	text-decoration: italic;
	font-size: 25px;
	margin:5px;
}

/*SUBTEXT*/
#subtext{
	width: 100%;
	height: auto;
	background-color: white;
}
.subtext_box{
	margin: 20px;
	margin-left: 40px;
	padding: 20px;
	height:300px;
	width:40%;	
	border-top: 5px solid #477FAD;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}
.subtext_box li{
	margin: 1% 5% 0% 5%;-m
}
.p2 {
	color: #9DC2E1;
}
#subtext_box_left{
	margin-left: 107px;
}


/*FOOTER*/
.footer{
	position: relative;
  	left: 0;
  	bottom:0;
  	width: 100%;
  	height: 70px;
	text-align: center;
	color: white;
}
h2{
	/*Move into Navbar*/
	display: inline-block;
	margin: 10px 20px 10px 20px;

}
.footer_row{
  	width: 100%;
  	display: flex;
  	align-items: bottom;
  	justify-content: center;
}

.footer_row a {
	margin:10px;
}