/*CSS reset settings here*/
/* Please note I got help from Joeyi on this one. */
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 10px;
}
#header{
 min-height: 150px;
 background-color: green;
 margin: 10Px;
}
#navigation{
 min-height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin: 10Px;
padding: 5px;
}
#main_content{
 min-height: 475px;
 width: 685px;
 background-color: red;
 display: inline-block;
 margin: 15px 10px;
 padding: 5px;
 vertical-align: top;
}
.subcontents{
 min-height: 205px;
 width: 205px;
 background-color: yellow;
 display: inline-block;
 margin: 10px;
}
#advertisement{
 min-height: 150px;
 width: 660px;
 margin: auto;
 float: left;
 margin: 2%;
 background-color: purple;
}
